FOLLOWREAD_ENVIRONMENT=development
FOLLOWREAD_IMAGE_NAMESPACE=followread
FOLLOWREAD_IMAGE_VERSION=local
FOLLOWREAD_DATA_VOLUME=followread-data
FOLLOWREAD_API_PORT=8000
FOLLOWREAD_ADMIN_PORT=5173
FOLLOWREAD_READER_PORT=5174
VITE_APP_ENV=development
VITE_API_BASE_URL=http://localhost:8000
FOLLOWREAD_ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:5174"]

